<!DOCTYPE html>
<html>
  <head>
    <title>Exam</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header clearfix">
      <h1>ひとりごと</h1>
    </header>

    <%= yield %>

    <footer class="footer">
      <%= link_to "ひとりごと一覧に戻る", posts_path %>
      <p>⚡️プログラミング修行僧💻</p>
    </footer>
  </body>
</html>
